.header {
    /* padding: 40px; */
    text-align: center;
    background: var(--blondewood);
    color: var(--darkwood);
    background-image: url("../../../public/images/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:60vw;
    height: 200px;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--blondewood);
    color: var(--darkwood);
  }